- navbar_classes = %w(navbar navbar-inverse)
- navbar_classes << ((controller_name == 'main') ? 'navbar-fixed-top' : 'navbar-static-top')
%div{ role: "navigation", class: navbar_classes.join(' ')}
  .container
    .navbar-header
      %button.navbar-toggle.pull-right{ type: "button", :'data-toggle' => "collapse", :'data-target' => ".navbar-ex1-collapse" }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'AQUA-VRN', root_path, class: "navbar-brand"
    .collapse.navbar-collapse.navbar-ex1-collapse{ role: "navigation" }
      %ul.nav.navbar-nav.navbar-right
        %li{ class: (controller_name == 'main') ? 'active' : 'unactive' }
          = link_to 'главная', root_path
        %li{ class: page_state_class(:about) }= link_to 'о компании', ((p = Page.by_key(:about)) ? page_path(p) : root_path)
        %li.dropdown
          %a{ href: "#", class: "dropdown-toggle", :'data-toggle' => "dropdown" }
            услуги
            %b.caret
          %ul.dropdown-menu
            - @services.each do |service|
              %li= link_to service.name, service_path(service)
        %li{ class: controller_state_class(:photogallery) }
          = link_to 'фотогалерея', photogallery_index_path
        %li{ class: controller_state_class(:contacts) }
          = link_to 'контакты', contacts_path
