%section#feature_slider.lol
  %article#showcasing.slide
    = image_tag "slides/scene1/1.png", class: "asset left-70 sp600 t20 z1"
    .info
      %h2 Прекрасное исполнение.
  %article#ideas.slide
    .info
      %h2 Адекватные сроки.
    = image_tag "slides/scene2/1.png", class: "asset left-390 sp600 t210 z1"
  %article#tour.slide
    = image_tag "slides/scene3/ipad.png", class: "asset left-472 sp650 t210 z3"
    = image_tag "slides/scene3/iphone.png", class: "asset left-365 sp600 t270 z4"
    = image_tag "slides/scene3/desktop.png", class: "asset left-350 sp450 t135 z2"
    = image_tag "slides/scene3/macbook.png", class: "asset left-185 sp550 t220 z1" 
    .info
      %h2 Отличные цены
  %article#responsive.slide
    = image_tag "slides/scene4/html5.png", class: "asset left-472 sp600 t120 z3"
    = image_tag "slides/scene4/css3.png", class: "asset left-190 sp500 t120 z2"
    .info
      %h2
        Responsive
        %strong HTML5 & CSS3
        Theme
