%section#feature_slider.lol
  %article#showcasing.slide
    = image_tag "slides/scene1/1.png", class: "asset left-70 sp600 t20 z1"
    .info
      %h2 Прекрасное исполнение.
  %article#ideas.slide
    .info
      %h2 Адекватные сроки.
    = image_tag "slides/scene2/1.png", class: "asset left-390 sp600 t210 z1"
  %article#tour.slide
    = image_tag "slides/scene3/1.png", class: "asset left-672 sp550 t80 z1"
    = image_tag "slides/scene3/2.png", class: "asset left-70 sp450 t90 z2"
    = image_tag "slides/scene3/3.png", class: "asset left-350 sp400 t255 z3"
    .info
      %h2 Обслуживание прудов, автополив
  %article#responsive.slide
    = image_tag "slides/scene4/1.png", class: "asset left-572 sp600 t100 z3"
    .info
      %h2 Отличные цены
