#contact
  .container
    .section_header
      %h3 Свяжитесь с нами
    .row.contact
      %p Мы очень ждем Вас. Заинтересованы в наших услугах? Заполните форму ниже, и мы обязательно свяжемся с Вами. Мы постараемя связаться с Вами максимально быстро и дать полный ответ, на интересующий Вас Вопрос.
      = form_for :message do |f|
        .row.form
          .col-sm-6.row-col
            .box
              = f.text_field :name, class: 'name form-control', placeholder: 'Имя'
              = f.text_field :email, class: 'mail form-control', placeholder: 'Email'
              = f.text_field :phone, class: 'phone form-control', placeholder: 'Телефон'
          .col-sm-6
            .box
              = f.text_area :body, placeholder: 'Напишите здесь ваше сообщение...', class: 'form-control'
        .row.submit
          .col-md-5.box
          .col-md-3.right
            = f.submit 'Отправить сообщение'
      
  .map
    .container
      .box_wrapp
        .box_cont
          .head
            %h6 Контакты
          %ul.street
            %li г. Воронеж р-н Автосалона "Модус"
            %li Сити-парк Град
            %li поселок Солнечный, Московское шоссе
            %li.icon.icontop
              %span.contacticos.ico1
              %span.text +7 (950) 771-80-81
            %li.icon
              %span.contacticos.ico1
              %span.text +7 (951) 568-64-19
            %li.icon
              %span.contacticos.ico1
              %span.text +7 (473) 229-11-47
            %li.icon
              %span.contacticos.ico2
              %span.text info@aqua-vrn.ru
          
    = render 'share/map'
